* {
    box-sizing: border-box;
        }

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
}

header {
        background-color: #f0f0f0;
        padding: 1rem;
    }

.flex_box_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ccc;
            padding: 0.5rem 1rem;
        }


.nav_item_header {
            background-color: #ffd1d1;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border: 1px solid #ffaaaa;
            border-radius: 4px;
        }

nav {
            background-color: #343a40;
            padding: 1rem;
        }

.flex_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
        }

.nav_item a {
            background-color: red;
            color: white;
            padding: 0.5rem 1rem;
            text-decoration: none;
            border-radius: 4px;
        }

.nav_item a:hover {
    background-color: darkred;
}

.content {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    flex: 1; /* zabere dostupný prostor */
}

footer {
    width: 100%;
    height: 70px;
    background-color: red;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}
